# SPDX-FileCopyrightText: Copyright © contributors to CloudNativePG, established as CloudNativePG a Series of LF Projects, LLC.
# SPDX-License-Identifier: Apache-2.0
metadata = {
  name                     = "{{ .Name }}"
  sql_name                 = "{{ .Name }}"
  image_name               = "{{ .Name }}"
  shared_preload_libraries = []
  extension_control_path   = []
  dynamic_library_path     = []
  ld_library_path          = []
  auto_update_os_libs      = false
  required_extensions      = []

  versions = {
    {{- range $distro := .Distros}}
    {{ $distro }} = {
        {{- range $version := $.Versions}}
        // renovate: suite={{ $distro }}-pgdg depName={{ replaceAll $.Package "%version%" $version }}
        "{{ $version }}" = "<package-version-here>"
        {{- end}}
    }
    {{- end}}
  }
}
