name: Build and publish extensions

on:
  push:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

permissions: {}

jobs:
  # Gather extensions that have been modified
  change-triage:
    name: Check changed files
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix}}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Check for changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        # Remember to add new folders in the operator-changed filter if needed
        with:
          base: ${{ (github.event_name == 'schedule') && 'main' || '' }}
          filters: |
            pgvector:
              - 'pgvector/*'

      # Compute a matrix containing the list of all extensions that have been modified
      - name: Compute matrix
        id: get-matrix
        run: |
          raw='${{ steps.filter.outputs.changes }}'
          echo "{\"name\": $raw}" > matrix.json
          cat matrix.json
          echo "matrix=$(cat matrix.json)" >> "$GITHUB_OUTPUT"

  Bake:
    name: Bake
    needs: change-triage
    permissions:
      packages: write
      contents: read
      id-token: write
      security-events: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.change-triage.outputs.matrix) }}
    uses: ./.github/workflows/bake_targets.yml
    with:
      environment: ${{ (github.ref == 'refs/heads/main') && 'production' || 'testing'}}
      extension_name: ${{ matrix.name }}
